<h1 id="logo"><span class="fas fa-basketball-ball animated rollIn delay-2s"></span>&nbsp NBA Free Agency</h1>

<div class="row col-md-12" id="labels">
  <div id="roster">
  <span id="gsw-header">Your Roster</span> 
  <ul id="roster-list">
  {{#each players}}
    {{#unless traded}}
      {{> players/players-block traded=true}}
    {{/unless}}
  {{/each}}
</ul>
  </div>
  <div id="agents">
 <span id="agent-header">NBA Free Agents</span> 
 <ul id="agent-list">
  {{#each players}}
    {{#if traded}}
      {{> players/agent-block traded=false}}
    {{/if}}
  {{/each}}
</ul>
</div>
</div>

<div class="row" id="add-player">
<h4 class="form-head">Add New Player</h4>
  <form action="#" class="create-form">
    <div class="col s3">
    <label for="player"><h6>Player Name:</h6></label>
    <input class="player-input" type="text" id="play" name="name">
    </div><br><br><br><br>
    <p>
      <label>
        <input name="traded" type="radio" value="0" checked />
        <span>Roster</span>
      </label>
      &NonBreakingSpace;
      <label>
        <input name="traded" type="radio" value ="1" />
        <span>Agent</span>
      </label>
    <br><br>
    </p>
      <button class="waves-effect waves-light btn-small red accent-4" type="submit"><i class="fas fa-basketball-ball">&nbsp Add Player</i></button>
  </form>
</div>

	<div id="myModal" class="modal">
    <div class="modal-content">
      <h4>Are you sure?</h4>
    </div>
    <div class="modal-footer">
      <a href="#!" id="yes"class="modal-close waves-effect waves-green btn-flat"value="1">Yes</a>
      <a href="#!" id="no" class="modal-close waves-effect waves-red btn-flat" value="0">No</a>
    </div>
  </div>

