<h1 id="logo"><span class="fas fa-basketball-ball"></span>&nbsp NBA Free Agency!</h1>

<div class="row col-md-12" id="labels">
  <div>
  Your Roster 
  <ul>
  {{#each players}}
    {{#unless traded}}
      {{> players/players-block traded=true}}
    {{/unless}}
  {{/each}}
</ul>
  </div>
  <div>
 NBA Free Agents 
 <ul>
  {{#each players}}
    {{#if traded}}
      {{> players/players-block traded=false}}
    {{/if}}
  {{/each}}
</ul>
  </div>
</div>

{{!-- <div class="collection row" id="roster">


</div> --}}

{{!-- 

<div class="collection" id="agent">

</div> --}}

<h2>Add New Player</h2>
<form class="create-form">

  <div class="form-group">
    <label for="player">Player Name:</label>
    <input type="text" id="play" name="name">
  </div>

  <div class="form-group">
    <label for="traded">Status:</label>
    <input type="radio" name="traded" value="0 " checked>Roster
    <input type="radio" name="traded" value="1"> Free Agent
  </div><br>

  <button type="submit">Add Player</button>
</form>
