<li class="collection-item">
	<a data-dis-id="gone" class="change-trade modal-trigger" href="#myModal" data-id="{{id}}" data-traded="{{traded}}">{{name}}&nbsp&nbsp<i class="fas fa-sign-out-alt"></i></a>
</li>
 