<li class="collection-item">
	<a class="change-trade modal-trigger" href="#myModal" data-id="{{id}}" data-traded="{{traded}}">{{name}}&nbsp&nbsp<i class="fas fa-sign-out-alt"></i></a>
	<button data-id="{{id}}" class="delete"><i class="fas fa-times-circle"></i></button>
</li>
 
