body, html {
  height: 100%;
  margin: 0;
  margin-top:-0.55%;
}

.bg {
  /* The image used */
  background-image: url("../img/background1.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}